/* ==== Created by Naomi Justin ==== */

/* === General === */

body {
    background-color: #A10035;
    margin: 0px;
    padding: 0px;    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;    
}
.pTip {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 30px;
}
/* === Circles === */

#wrapBgCircles {       
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#imageCirclesBG {
    min-height: 120vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}
/* Toast - Disclaimer */
#divWrapToastTip {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

/* Toast - Help */
#divWrapToastHowTo {
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

#toastInfoIcon:hover {
    opacity: 1;
}


/* ==== Created by Naomi Justin ==== */