/* === General === */

body {
    background-color: #A10035;
    margin: 0px;
    padding: 0px;
}

/* === Circles === */

#wrapBgCircles {       
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#imageCirclesBG {
    min-height: 120vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}